/* Boiler plate */

html, body { 
	color: #434242; 
	font-family: 'Open Sans', sans-serif !important; 
	height: 100%; 
}

body { 
	background: lightgrey; 
	font-size: 15px; 
	line-height: 1.64; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { 
	font-family: 'Open Sans', sans-serif !important; 
	margin-bottom: 20px; 
}

h1,h4 { 
	font-weight: 700; 
	margin-bottom: 10px; 
}

h2,h3 { 
	font-weight: 600;
	color: black;
}

h2 { 
	font-size: 54px; 
	text-align: center; 
}

h3 { 
	font-size: 28px; 
}

p.lead { 
	text-align: center; 
	color: #727878; 
}

p.lead a { 
	color: #FFFFFF; 
	text-decoration: underline; 
}

p.lead a:hover { 
	text-decoration: none; 
}

ul.no-bullets { 
	list-style-type: none; 
	margin: 0px; 
	padding: 0px; 
}

#floating-panel {
	position: absolute;
	top: 60px;
	left: 20%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 5px;
}

hr { 
	margin: 40px 0px; 
	border-color: #727878; 
	opacity: 0.2; 
	filter:alpha(opacity=20); 
}

.project-referal { 
	margin-top: 40px; 
}
.project-referal p { 
	font-style: italic; 
	color: #999999; 
}

.btn-primary { 
	background-color: dodgerblue;
	border-color: blue;
}
.btn-primary:hover { 
	background-color: blue;  
	border-color: blue; 
}
/* Boiler plate End */

/*Application Title*/
.navbar-collapse h3 {
	color: white;
	font-size: 50px;
}


/*Navigation bar*/
.navbar  { 
	border: 0px; 
	background-color: #222222;
	height: 50px;
}

.navbar .navbar-collapse { 
	padding: 0px; 
	max-height: none;
	margin: 0px;
}

.navbar .navbar-nav { 
	float: none; 
}

.navbar-nav { 
	margin: 0px; 
}

.navbar .nav > li a { 
	display: block;
	text-align: center; 
	padding-right: 30px; 
	font-weight: 600; 
	color: #FFFFFF;
}

.navbar .nav > li a:hover, .navbar .nav > li a:focus { 
	color: #999999; 
}

/*Active Navigation bar color*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus { 
	background: dodgerblue; 
	color: #FFFFFF; 
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { 
	background: #222222; 
}

.navbar-default .navbar-collapse .navbar-nav a.instagram-login {
	font-color: black;
}

/* Background color modifiation */
.background-white { 
	background: #FFFFFF; 
}

.background-gray { 
	background: #434242; 
}

.container { 
	max-width: 1280px; 
	padding: 40px 180px; 
}

/*Main Container*/
.main-container .row .search-result {
	text-align: center;
}

.main-container .row .search-result input {
	width: 400px;
	text-align: center;
	margin-bottom: 30px;
}

/*Map*/
#map {
	height: 700px;
	width: 830px;
	margin: 0;
	padding: 0;
	margin-left: -10px;
	margin-top: -20px;
}

/* Footer Section */

#contact h4, #contact .row * {
	color: #FFFFFF;
}

#contact h4 {
	font-size: 30px;
	text-align: center;
}

#contact a {
	display: block;
	line-height: 32px;
	margin-bottom: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

#contact a icon {
	float: left;
	margin-right: 20px;
}

#contact a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	text-decoration: none;
}

#contact a img {
	margin-right: 10px;
}

.background-gray {
	height: 330px;
}
/*Search result information*/
.result {
	
	text-align: center;
}

#search-result-container {
	text-align: left;
	margin-bottom: 20px;
	margin-left: 880px;
}


/************************************/
/*About Page*/
#about-main-container h1 {
	text-align: center;
	font-size: 55px;
	color: black;
	margin-bottom: 20px;
}

#main-contents {
	/*border: 1px solid black;*/
	width: 900px;
	margin-left: 280px;
}

#main-contents p {
	font-size: 25px;
	color: black;
}

#about-instructions {
	text-align: center;
	font-size: 40px;
}

#instructions-content {
	/*border: 1px solid black;*/
	width: 1000px;
	margin-left: 200px;
	margin-bottom: 50px;
}

#instructions-content li {
	font-size: 25px;
	color: black;
	padding-bottom: 10px;
}








